%h1 New Note

- if @errors
  %ul
    - @errors.each do |error|
      %li
        = error

%form{:action => "/notes", :method => "post"}
  %label{:for => "title"}
  %input{:type => "text", :name => "title", :placeholder => "Write here your title..."}/
  %label{:for => "content"}
  %textarea{:name => "content", :cols => "30", :rows => "10", :placeholder => "Write here your content..."}
  %input{:type => "submit", :value => "Add Note"}/